button {
	color: white;
	background-color: #404d8d;
	border: none;
	border-radius: 10px;
	width: 150px;
	height: 30px;
	position: inherit;
	margin-bottom: 10px;
}

input {
	border-radius: 10px;
	width: 200px;
	height: 30px;
	text-align: center;
}

body {
	background-image: url(1.png);
	background-size: cover;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 20vw;
    padding-top: 5vh;
}

input {
	margin-bottom: 10px;
}

.error {
	color: red;
}

#timer {
	font-size: 100px;
}

i {
	color: #404d8d;
}

p {
	width: 200px;
}

#info
{
	display: block;
}

.listbox {
	background-color: #eddfed;
	padding: 15px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 10px;
	vertical-align: top;
}
.listname {
	margin-bottom: 10px;
}